.App {


}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.menu {
    border-top: 1px solid #ccc;
    justify-content: space-evenly;
}

.menu::before {
    content: none;
}



